:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f3f4f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0%;
  padding: 0%;
  color: steelblue;
  overflow-x: hidden;
}

.body-section {
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f3f4f6;
  transition: padding 300ms ease;
}
@media (max-width: 640px) {
  .body-section {
    flex-direction: column;
    padding: 20px 8px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #9ca3af;
}